*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
 
}

.all-app {
display: flex;
align-items: center;
justify-content: center;
margin-top: 5px; 
}

.add-btn{
  display: block;
  margin-top: 50vh;
}

.add-btn-done{
  display: none;
}

.add-btn-done{
  animation: 5s show ease;
}
 
 @keyframes show {
   from { opacity: 1; }
   to { opacity: 0; }
 }


.add-themes{
  background-color: #fff;
  font-size: 2rem;
  padding: 10px;
  border-radius: 8px;
}

.add-themes:hover{
  cursor: pointer;
}
.content{
  display: none;
}

.content-done{
  display: block;
  margin: 10px;
  border: 1px solid #000;
    width: 100%;
}

.content-done{
     animation: 5s show ease;
}
  
  @keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }


.main{
  display: flex;
  margin-bottom: 20px;
  }

.sort-main-hiden{
  visibility: hidden;
}

.content-list{
  width: 33.3%;
  }

.content-form{
  width: 66.7%;
 
}

