.theme{
    width: 90%;
    background-color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    margin: 20px;
    padding-left: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

@media(max-width: 1023px) {
    .theme{
        width: 80%;
        background-color: #fff;
        font-size: 1.25rem;
        padding: 10px;
        margin: 20px;
        border: 1px solid #000;
        border-radius: 5px;
        cursor: pointer;
        overflow: hidden;
    }
}