.form-edit{
    position: absolute;
    border: 1px solid #000;
    margin: 25px 20px 0 20px;
    top: 0;
    right: 10px;
    width: 63.5vw;
    height: 70vh;
    margin-top: 128px;
   }

.form-edit-hidden{ 
 display: none;
}

  .form-searce-edit{
    width: 66.7;
  }

  .img-bucet-edit{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .title-edit{
    text-align: left;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 15px;
}

.input-title-edit{
    width: 80%;
    height: 40px;
    display: flex;
    font-size: 1.25rem;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 10px;
    }

.input-title-edit::placeholder{
    font-size: 1.25rem;
}
  
.form-discription-edit{
    text-align: left;
    font-size: 1.5rem;
    margin-top: 35px;
    margin-left: 15px;
    }

    .textarea-edit{
        display: flex;
    }

.form-textarea-edit{
    display: block;
    width: 95vw;
    height: 40vh;
    resize:none;
    margin-top: 25px;
    margin-left: 15px;
    font-size: 2rem;
    padding-top: 15px;
    padding-left: 15px;
        }

    .save-edit{
        display: flex;
        justify-content: center;
        width: 15%;
        background-color: #fff;
        font-size: 1.25rem;
        padding: 10px;
        margin: 25px auto;
        border: 1px solid #000;
        border-radius: 5px;
        cursor: pointer;
     }

     .save-hidden-edit{
        visibility: hidden;
    }    
    
@media  (min-width: 767px){
        .form-edit{
            position: absolute;
            border: 1px solid #000;
            margin: 12px 10px 0 20px;
            top: 0;
            right: 10px;
            width: 58vw;
            height: 80vh;
            margin-top: 128px;
           }
        
        .form-edit-hidden{ 
         display: none;
        }
        
          .form-searce-edit{
            width: 40;
          }
        
          .img-bucet-edit{
            width: 30px;
            height: 30px;
            position: absolute;
            right: 10px;
            top: 10px;
          }
        
          .title-edit{
            text-align: left;
            font-size: 1.5rem;
            margin-top: 15px;
            margin-left: 15px;
        }
        
        .input-title-edit{
            width: 80%;
            height: 40px;
            display: flex;
            font-size: 1.25rem;
            margin-top: 15px;
            margin-left: 15px;
            padding-left: 10px;
            }
        
        .input-title-edit::placeholder{
            font-size: 1.25rem;
        }
          
        .form-discription-edit{
            text-align: left;
            font-size: 1.5rem;
            margin-top: 15px;
            margin-left: 15px;
            }
        
            .textarea-edit{
                display: flex;
            }
        
        .form-textarea-edit{
            display: block;
            width: 95vw;
            height: 45vh;
            resize:none;
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 10px;
            font-size: 1.5rem;
            padding-top: 10px;
            padding-left: 15px;
                }
        
            .save-edit{
                display: flex;
                justify-content: center;
                width: 15%;
                background-color: #fff;
                font-size: 1rem;
                padding: 10px;
                margin: 10px auto;
                border: 1px solid #000;
                border-radius: 5px;
                cursor: pointer;
             }
        
             .save-hidden-edit{
                visibility: hidden;
            }    
    }


